<div class="container-fluid layout">   
    <img class="inside_chatTabImage" src="https://eu3-cdn.inside-graph.com/custom/3-amq-chat-tab-032024.svg?1726499702698" alt="Live chat icon, click to open the live chat pane." >
  
    <div class=" container-fluid front-page">
        
        <div class="row align-items-end justify-content-center front-footer">
          <div class="row justify-content-center text-head">
            <h1 class="col-6  justify-content-center align-items-center display-1">
              WOMEN'S DENIM
            </h1> 
          </div>
          
            <div class="row justify-content-center">
              <a href="/shop-now" class="col-2">
                <button  >
                  SHOP NOW
              </button>
              </a>
             
            </div>
            
        </div>
    </div>

    

    <div class="container-fluid services">
      <div class="row">
        <p class="heading">EXCLUSIVE SERVICES</p>
      </div>
      
      <div class="row">
        <div class="col-md-4 ">
          <div class="row col-sm-6 col-md-12">
            <img src="/images/alexander mcqueen 2.jpg" alt="">
          </div>
          <div class="row col-sm-6 col-md-12">
            <p>Online assistance</p>
          </div>
        </div>
       

    
        <div class="col-md-4 ">
          <div class="row ">
            <img class="col-sm-6 col-md-12" src="/images/alexander mcqueen 2.jpg" alt="">
          </div>
          
            <p class="col-sm-6 col-md-12">Store services</p>
          
        </div>
      
            <div class="col-md-4 ">
              <div class="row ">
                <img class="col-sm-6 col-md-12" src="/images/alexander mcqueen 2.jpg" alt="">
              </div>
              <div class="row ">
                <p class="col-sm-6 col-md-12" >Complimentary express shipping and return </p>
              </div>
            </div>
        </div>  
    </div>

    <div class="offcanvas offcanvas-end  " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
      <div class="container-fluid offcanvas-body align-items-center justify-content-center">

        <div class="body"> 
        <p >Welcome to Alexander McQueen</p>

        <button type="button" class="btn-close col-1" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        
      </div>
      
    </div>

    <div class="footer row">
      

    </div>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
