<% categories.forEach(function(category) { %>
    <div class="col-md-4 mb-4">
        <div class="card">
            <img src="<%= category.image %>" class="card-img-top" alt="<%= category.title %>">
            <div class="card-body">
                <h5 class="card-title text-center"><%= category.title %></h5>
            </div>
        </div>
    </div>
<% }); %>