<form action=""  method="post" enctype="multipart/form-data">
    <div class="row">
        <label for="title" class="col-3">Product name: </label>
        <input name="title" type="title" class="col-3" >
    </div>
    <div class="row">
        <label for="description" class="col-3"> Product description: </label> 
        <input name="description" type="description" class="col-3">
    </div>
    
    <div class="row">
        <label for="price" class="col-3"> Price: </label> 
        <input name="price" type="price" class="col-3">
    </div>

    <div class="row">
        <label for="titleInput">upload product Picture</label>
        <input name="file" type="file" class="form-control" id="titleInput" aria-describedby="emailHelp" placeholder="Enter Title" value="IPhone" />
        
      </div>

      


    <div class="row">
        <button class="col-2" >
            Add product
        </button>
    </div>

    
    
    </form>
    
    <%-contentFor("styles") %>
    <style>
        div{
            margin-top : 10px !important; 
            justify-content: center;
        }
        
    </style>
