<form action=""  method="post" enctype="multipart/form-data">
    <div class="row">
        <label for="title" class="col-3">Username: </label>
        <input name="title" type="text" class="col-3" >
    </div>
    <div class="row">
        <label for="description" class="col-3"> Password: </label> 
        <input name="description" type="password" class="col-3">
    </div>
    
    <div class="row">
        <label for="price" class="col-3"> Email </label> 
        <input name="price" type="email" class="col-3">
    </div>

    <div class="row">
        <button class="col-2" >
            Sign in
        </button>
    </div>

    
    
    </form>